# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment files
.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
